body{
    background-color: black;
    color: ivory;
}
#header{
    width: 80vw;
    height: 20vh;

    font-family: serif;
    font-size: 2.75em;

    margin: 6vw;
    border: 1vmin;

    display: flex;
    align-items: center;
    justify-content: center;

    border-style: solid;
    border-color: ivory;
    background-color: dimgray;
}
#Xcloud-project{
    width: 80vw;
    min-height: fit-content;

    font-family: sans-serif;
    font-size: 1em;

    margin: 6vw;
    padding: 2vmin;
    border: 1vmin;


    border-style: solid;
    border-color: ivory;
    background-color: dimgray;
}